*{
    margin: 0;
    padding: 0;
}

.html{
    background-color: #111;
}

.body{
    color: #fff;
}

.bigtitle{
    font-family: "Righteous", serif;
    font-size: 3em;
}

.form{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.chatbox{
    background-color: #bbb;
    font-size: 1.5em;
    color: #000;
    margin: 1em 1.5em 1em 1.5em;
}

.message{
   resize: none; 
}

.margintop{
    margin-top: 1em;
}

.is-black{
    color: black;
}

.control{
    margin: 0 1.5em 0 1.5em;
}
